/*-------- 5. Product style ---------*/

.product-tab-list {
    display: flex;
    justify-content: center;
    a {
        display: inline-block;
        border: 2px solid #d2d2d2;
        border-radius: 2px;
        line-height: 1;
        min-width: 82px;
        text-align: center;
        padding: 8px 10px;
        margin: 0 11px;
        @media #{$md-layout} {
            margin: 0 5px 10px;
        }
        @media #{$xs-layout} {
            margin: 0 4px 8px;
        }
        &.active {
            border: 2px solid $theme-color-main;
            color: $white;
            background: $theme-color-main;
        }
        &:hover,&:focus {
            border-color: $theme-color-main;
        }
    }
    @media #{$md-layout} {
        &.mb-60 {
            margin-bottom: 30px;
        }
    }
    @media #{$xs-layout} {
        &.mb-60 {
            margin-bottom: 30px;
        }
    }
}

.product-wrap {
    position: relative;
    .product-img {
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        &.pro-theme-color-border {
            &::after {
                border: 8px solid $theme-color-main;
            }
        }
        &.pro-border-none {
            &::after {
                display: none;
            }
        }
        &.pro-border-2 {
            &::before {
                border: 4px solid $theme-color-main2;
                bottom: 10px;
                content: "";
                left: 10px;
                position: absolute;
                right: 10px;
                top: 10px;
                opacity: 0;
                transition: all 0.4s ease-in-out 0s;
                z-index: 9;
                border-radius: 20px;
                pointer-events: none;
            }
        }
        &.pro-border-3 {
            border: 2px solid #f1bfc9;
            border-radius: 20px;
        }
        a {
            img {
                width: 100%;
            }
        }
        > span {
            display: inline-block;
            color: #fff;
            position: absolute;
            letter-spacing: 1.1px;
            line-height: 1;
            z-index: 1;
            padding: 5px 10px;
            left: 5px;
            &.badge-top-20 {
                top: 5px;
            }
            &.badge-left-20 {
                left: 5px;
            }
            &.badge-black {
                background-color: #1b1b1b;
            }
            &.badge-green {
                background-color: #3cd53f;
            }
            &.badge-theme-color {
                background-color: $theme-color-main;
            }
            &.badge-style-2 {
                top: 27px;
                right: 3px;
                padding: 0;
                &:before {
                    position: absolute;
                    content: "";
                    top: -27px;
                    z-index: -1;
                    right: -3px;
                    width: 0;
                    height: 0;
                    border-top: 88px solid #ec5555;
                    border-left: 88px solid transparent;
                }
            }
        }
        .product-action-position-1 {
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            text-align: center;
            width: 100%;
            transition: all 0.4s ease-in-out;
            @media #{$xs-layout} {
                bottom: 10px;
            }
        }
        .product-action-position-2 {
            position: absolute;
            bottom: 34px;
            left: 0;
            right: 0;
            text-align: center;
            @media #{$lg-layout} {
                bottom: 20px;
            }
            @media #{$xl-layout} {
                bottom: 25px;
            }
        }
        .product-action {
            a {
                display: inline-block;
                font-size: 16px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                margin: 0;
                color: $white;
                background-color: $theme-color-main;
                border-radius: 50%;
                opacity: 0;
                z-index: 99;
                @media #{$xx-layout} {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    font-size: 18px;
                    margin: 0 3px;
                }
                @media #{$xl-layout} {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    font-size: 18px;
                    margin: 0 2px;
                }
                @media #{$lg-layout} {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    margin: 0 2px;
                }
                @media #{$md-layout} {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    margin: 0 2px;
                }
                @media #{$xs-layout} {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    opacity: 1;
                    margin: 0 2px;
                }
                i {
                    line-height: 36px;
                    transition: all 0.4s ease-in-out 0s;
                    @media #{$xx-layout} {
                        line-height: 36px;
                    }
                    @media #{$xl-layout} {
                        line-height: 36px;
                    }
                    @media #{$lg-layout} {
                        line-height: 36px;
                    }
                    @media #{$md-layout} {
                        line-height: 36px;
                    }
                    @media #{$xs-layout} {
                        line-height: 30px;
                    }
                }
                &:hover {
                    background-color: $theme-color-main2;
                    color: $black;
                }
            }
            &.pro-action-col4 {
                a {
                    font-size: 18px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    margin: 0 2px;
                    i {
                        line-height: 40px;
                    }
                }
            }
        }
        .product-action-2 {
            a {
                color: #191919;
                display: inline-block;
                font-size: 20px;
                opacity: 0;
                transform: translateY(15px);
                margin: 0 14px;
                visibility: hidden;
                @media #{$xx-layout} {
                    margin: 0px 10px;
                }
                @media #{$xl-layout} {
                    margin: 0px 8px;
                }
                @media #{$lg-layout} {
                    margin: 0px 8px;
                }
                &:nth-child(1) {
                    transition-delay: 150ms;
                }
                &:nth-child(2) {
                    transition-delay: 200ms;
                }
                &:nth-child(3) {
                    transition-delay: 250ms;
                }
                &:nth-child(4) {
                    transition-delay: 300ms;
                }
                &:hover {
                    color: $theme-color-main;
                }
            }
            &.pro-action-yellow-2 {
                a {
                    &:hover {
                        color: $theme-color-main2;
                    }
                }
            }
        }
        .deal-count {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            text-align: center;
            width: 100%;
            div {
                display: flex;
                justify-content: center;
                > span {
                    background-color: #262626;
                    color: #fff;
                    margin: 0 5px;
                    padding: 4px 9px 13px;
                    @media #{$sm-layout} {
                        padding: 4px 6px 13px;
                        margin: 0 3px;
                    }
                    p {
                        color: #fff;
                        margin: 0;
                        display: block;
                        line-height: 1;
                    }
                }
            }
        }
        .shop-list-quickview {
            position: absolute;
            left: auto;
            top: auto;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            overflow: hidden;
            transform: translateY(-50%) translateX(-50%);
            a {
                display: inline-block;
                font-size: 20px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin: 0;
                color: #fff;
                background-color: $theme-color-main;
                transform: scale(1.2);
                opacity: 0;
                transition: all 0.4s ease-in-out 0s;
                z-index: 99;
                border-radius: 50%;
                i {
                    line-height: 50px;
                    transition: all 0.4s ease-in-out 0s;
                }
                &:hover {
                    background-color: #191919;
                    color: #fff;
                }
            }
        }
        &.pro-img-border-radius {
            border-radius: 15px;
        }
        @media #{$xs-layout} {
            &.mb-25 {
                margin-bottom: 12px;
            }
        }
    }
    .product-content {
        h4 {
            font-size: 14px;
            margin: 0 0 7px;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 0.4px;
            font-family: $font-main;
        }
        .product-price {
            span {
                position: relative;
                &.old-price {
                    margin-right: 4px;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 2px;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%) rotate(130deg);
                        background-color: #393939;
                    }
                }
            }
        }
    }
    .product-content-2 {
        h4 {
            font-size: 24px;
            font-weight: bold;
            color: #1b1b1b;
            font-family: $rufina;
            margin: 0 0 22px;
            @media #{$xl-layout} {
                font-size: 20px;
            }
            @media #{$lg-layout} {
                font-size: 20px;
                margin: 0 0 12px;
            }
            @media #{$md-layout} {
                font-size: 20px;
                margin: 0 0 12px;
            }
            @media #{$xs-layout} {
                font-size: 20px;
                margin: 0 0 7px;
            }
            a {
                color: #1b1b1b;
                &:hover {
                    color: $theme-color-main;
                }
            }
        }
        > span {
            display: block;
            margin: 0 0 8px;
            a {
                font-weight: 600;
                color: #1b1b1b;
                font-style: italic;
                display: block;
                &:hover {
                    color: $theme-color-main;
                }
            }
        }
        .product-rating-wrap {
            display: block;
            margin: 17px 0 6px;
            @media #{$lg-layout} {
                margin: 10px 0 6px;
            }
            @media #{$md-layout} {
                margin: 10px 0 6px;
            }
            @media #{$xs-layout} {
                margin: 7px 0 6px;
            }
            .product-rating {
                background-color: #fff;
                display: inline-block;
                padding: 2px;
                i {
                    color: #f6c443;
                    font-size: 15px;
                }
            }
        }
        .product-price-2 {
            span {
                font-weight: 600;
                color: $theme-color-main;
                &.old-price {
                    color: #1b1b1b;
                    margin-right: 4px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 2px;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%) rotate(130deg);
                        background-color: #393939;
                    }
                }
            }
        }
        &.pc-2-font-dec {
            h4 {
                font-size: 20px;
                margin: 0 0 13px;
                @media #{$xs-layout} {
                    margin: 0 0 8px;
                }
            }
        }
    }
    .product-content-3 {
        h4 {
            font-size: 18px;
            font-family: $font-title;
            margin: 0 0 3px;
        }
        .product-price-3 {
            span {
                font-size: 18px;
                font-family: $font-title;
                color: $theme-color-main;
                &.old-price {
                    color: #8b8b8b;
                    margin-right: 4px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 25px;
                        height: 2px;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%) rotate(130deg);
                        background-color: #1b1b1b;
                    }
                }
            }
        }
    }
    .product-img-zoom {
        a {
            img {
                width: 100%;
                transform: scale(1);
                transition: all .5s ease 0s;
            }
        }
    }
    .product-banner-content {
        position: absolute;
        bottom: 55px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        @media #{$xs-layout} {
            bottom: 30px;
        }
        span {
            display: block;
            margin: 0 0 6px;
        }
        h4 {
            background-color: #c74040;
            color: #fff;
            margin: 0;
            line-height: 1;
            font-size: 36px;
            display: inline-block;
            padding: 12px 40px 10px;
            @media #{$md-layout} {
                font-size: 25px;
                padding: 10px 35px 8px;
            }
            @media #{$xs-layout} {
                font-size: 25px;
                padding: 8px 30px 5px;
            }
        }
    }
    .product-banner-content-2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        .clutch {
            span {
                display: inline-block;
                background-color: #f2c456;
                line-height: 1;
                padding: 9px 12px 14px;
                @media #{$xs-layout} {
                    font-size: 12px;
                }
            }
        }
        h2 {
            color: #fff;
            margin: 15px 0 32px;
            line-height: 1;
            font-size: 80px;
            @media #{$xl-layout} {
                font-size: 60px;
                margin: 15px 0 25px;
            }
            @media #{$md-layout} {
                font-size: 68px;
                margin: 15px 0 25px;
            }
            @media #{$xs-layout} {
                font-size: 30px;
                margin: 12px 0 15px;
            }
            @media #{$sm-layout} {
                font-size: 38px;
                margin: 18px 0 18px;
            }
        }
    }
    .product-border {
        border: 2px solid #e4e4e4;
    }
    &.product-wrap-hover {
        transition: all .3s ease 0s;
        &:hover {
            margin-top: -28px;

        }
    }
    &:hover {
        .product-img {
            &::after {
                right: 24px;
                left: 24px;
                top: 24px;
                bottom: 24px;
                opacity: 1;
            }
            &.pro-border-2 {
                &::before {
                    right: 0px;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    opacity: 1;
                }
            }
        }
        .product-img-zoom {
            a {
                img {
                    transform: scale(1.2);
                }
            }
        }
        .product-action-position-1 {
            bottom: 20px;
        }
        .product-action {
            a {
                transform: scale(1);
                opacity: 1;
            }
        }
        .product-action-2 {
            a {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }
    @media #{$md-layout} {
        &.mb-55 {
            margin-bottom: 30px;
        }
    }
    @media #{$xs-layout} {
        &.mb-55 {
            margin-bottom: 30px;
        }
    }
}

.load-btn-style-1 {
    a {
        span {
            display: block;
        }
        &:hover {
            color: #000;
        }
    }
}

.btn-style-2 {
    a {
        font-size: 16px;
        color: #1b1b1b;
        display: inline-block;
        line-height: 1;
        border: 2px solid #858585;
        padding: 20px 37px 24px;
        transition: all .5s ease-in-out 0s;
        z-index: 9;
        @media #{$xs-layout} {
            padding: 12px 20px 14px;
            font-size: 15px;
        }
        &:hover {
            border: 2px solid #000;
        }
    }
}

.deal-all-pro {
    a {
        color: $theme-color-main;
        &:hover {
            color: #393939;
        }
    }
}

.deal-ptb {
    padding: 82px 115px 83px;
    @media #{$lg-layout} {
        padding: 82px 30px 83px;
    }
    @media #{$md-layout} {
        padding: 42px 40px 43px;
    }
    @media #{$xs-layout} {
        padding: 42px 15px 43px;
    }
}

.deal-ntv-mrg {
    margin-bottom: -67px;
    position: relative;
    z-index: 2;
}

.product-tab-list-2 {
    display: flex;
    justify-content: center;
    a {
        display: inline-block;
        line-height: 1;
        margin: 0 34px;
        color: #aeaeae;
        font-size: 32px;
        font-weight: 500;
        padding: 0 0 21px;
        position: relative;
        font-family: $font-title;
        @media #{$md-layout} {
            margin: 0 15px;
            font-size: 26px;
        }
        @media #{$xs-layout} {
            padding: 0 0 8px;
            font-size: 20px;
            margin: 0 10px 15px;
        }
        @media #{$sm-layout} {
            font-size: 20px;
        }
        &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100px;
            height: 2px;
            bottom: 0;
            background-color: transparent;
            @media #{$xs-layout} {
                width: 50px;
            }
        }
        &.active {
            color: #1b1b1b;
            &:before {
                background-color: $theme-color-main;
            }
        }
    }
    @media #{$xs-layout} {
        &.mb-60 {
            margin-bottom: 10px;
        }
    }
}

.dot-style-2 {
    .slick-dots {
        margin-top: 30px;
        @media #{$xs-layout} {
            margin-top: 10px;
        }
        li {
            display: inline-block;
            button {
                background-color: #d8d8d8;
                width: 100px;
                height: 8px;
                display: inline-block;
                margin: 0 10px 0 0;
                transition: all .3s ease 0s;
                padding: 0;
                border: none;
                font-size: 0;
                @media #{$xs-layout} {
                    width: 50px;
                }
                &:hover {
                    background-color: $theme-color-main;
                }
            }
            &.slick-active {
                button {
                    background-color: $theme-color-main;
                }
            }
        }
    }
} 

.slick-slide {
    .single-flower-best-choice {
        .flower-best-img {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media #{$md-layout} {
    .product-area {
        &.pt-75 {
            padding-top: 45px;
        }
    }
}

.product-area-negative-mrg {
    margin-top: -62px;
}

.product-slider-1 {
    z-index: 9;
}

.deal-area {
    position: relative;
    overflow: hidden;
    .kids-pattern-1 {
        position: absolute;
        top: 9px;
        left: 68px;
        animation-iteration-count: infinite;
        animation-name: bounce-img-2;
        animation-duration: 2.5s;
        @media #{$lg-layout} {
            top: 20px;
            left: 0px;
        }
        @media #{$md-layout} {
            top: 20px;
            left: 0px;
        }
        @media #{$xs-layout} {
            top: 20px;
            left: auto;
            right: 0;
        }
        img {
            width: 249px;
            @media #{$lg-layout} {
                width: 100px;
            }
            @media #{$md-layout} {
                width: 100px;
            }
            @media #{$xs-layout} {
                width: 100px;
            }
        }
    }
    .kids-pattern-2 {
        position: absolute;
        top: 70px;
        right: 44%;
        animation-iteration-count: infinite;
        animation-name: bounce-img-2;
        animation-duration: 2.5s;
        img {
            width: 148px;
            @media #{$lg-layout} {
                width: 100px;
            }
            @media #{$md-layout} {
                width: 100px;
            }
            @media #{$xs-layout} {
                width: 100px;
            }
        }
    }
    .kids-pattern-3 {
        position: absolute;
        top: 29%;
        right: 0%;
        animation-iteration-count: infinite;
        animation-name: bounce-img-2;
        animation-duration: 2.5s;
        img {
            width: 262px;
            @media #{$lg-layout} {
                width: 162px;
            }
            @media #{$md-layout} {
                width: 162px;
            }
            @media #{$xs-layout} {
                width: 162px;
            }
        }
    }
    .kids-pattern-4 {
        position: absolute;
        bottom: 15%;
        right: 53px;
        animation-iteration-count: infinite;
        animation-name: bounce-img;
        animation-duration: 2.5s;
        @media #{$xs-layout} {
            right: 10px;
        }
        img {
            width: 157px;
            @media #{$lg-layout} {
                width: 80px;
            }
            @media #{$md-layout} {
                width: 80px;
            }
            @media #{$xs-layout} {
                width: 80px;
            }
        }
    }
    .kids-pattern-5 {
        position: absolute;
        bottom: 65px;
        left: 10%;
        animation-iteration-count: infinite;
        animation-name: bounce-img;
        animation-duration: 2.5s;
        @media #{$xs-layout} {
            left: 2%;
        }
        img {
            width: 157px;
            @media #{$lg-layout} {
                width: 80px;
            }
            @media #{$md-layout} {
                width: 80px;
            }
            @media #{$xs-layout} {
                width: 80px;
            }
        }
    }
}

.kids-deal-img {
    margin-left: -50px;
    @media #{$xl-layout} {
        margin-left: 0px;
    }
    @media #{$lg-layout} {
        margin-left: 0px;
    }
    @media #{$md-layout} {
        margin-left: 0px;
    }
    @media #{$xs-layout} {
        margin-left: 0px;
    }
    a {
        img {
            width: 100%;
        }
    }
}

.kids-deal-content {
    margin: 0 -52px 0 66px;
    position: relative;
    z-index: 9;
    @media #{$xl-layout} {
        margin: 0 0px 0 0px;
    }
    @media #{$lg-layout} {
        margin: 0 0px 0 0px;
    }
    @media #{$md-layout} {
        margin: 0 0px 0 0px;
    }
    @media #{$xs-layout} {
        margin: 15px 0px 0 0px;
    }
    h2 {
        color: #1b1b1b;
        font-size: 46px;
        font-weight: 600;
        margin: 0;
        @media #{$xs-layout} {
            font-size: 38px;
        }
    }
    > p {
        color: #1b1b1b;
        font-size: 24px;
        font-weight: 300;
        margin: 27px auto 55px;
        width: 81%;
        line-height: 30px;
        @media #{$lg-layout} {
            width: 95%;
            font-size: 20px;
            margin: 17px auto 25px;
        }
        @media #{$md-layout} {
            width: 95%;
            font-size: 16px;
            margin: 10px auto 25px;
        }
        @media #{$xs-layout} {
            width: 95%;
            font-size: 17px;
            margin: 3px auto 25px;
        }
    }
}

.timer-style-2 {
    margin: 0 0 56px;
    @media #{$lg-layout} {
        margin: 0 0 26px;
    }
    @media #{$md-layout} {
        margin: 0 0 15px;
    }
    @media #{$xs-layout} {
        margin: 0 0 15px;
    }
    > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > span {
            font-size: 24px;
            color: #1b1b1b;
            font-style: italic;
            width: 120px;
            height: 120px;
            background-color: #ffedc3;
            text-align: center;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 22px;
            @media #{$xl-layout} {
                margin: 0 10px;
            }
            @media #{$lg-layout} {
                margin: 0 12px;
                width: 90px;
                height: 90px;
            }
            @media #{$md-layout} {
                margin: 0 10px 12px;
                width: 90px;
                height: 90px;
            }
            @media #{$xs-layout} {
                margin: 0 10px 12px;
                width: 90px;
                height: 90px;
            }
            p {
                margin: 0;
                font-size: 16px;
                color: #1b1b1b;
                line-height: 1;
            }
        }
    }
}

.product-tab-list-3 {
    display: flex;
    justify-content: center;
    a {
        display: inline-block;
        line-height: 1;
        margin: 0 36px;
        color: $theme-color-main;
        font-size: 32px;
        padding: 0 0 21px;
        position: relative;
        text-align: center;
        font-family: $font-title;
        @media #{$lg-layout} {
            margin: 0 26px;
            font-size: 27px;
            padding: 0 0 15px;
        }
        @media #{$md-layout} {
            margin: 0 17px;
            font-size: 22px;
            padding: 0 0 15px;
        }
        @media #{$xs-layout} {
            margin: 0 10px 10px;
            font-size: 22px;
            padding: 0 0 11px;
        }
        &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            height: 5px;
            bottom: 0;
            border-radius: 5px;
            background-color: transparent;
        }
        &.active {
            &:before {
                background-color: #c7c7c7;
            }
        }
    }
    @media #{$xs-layout} {
        &.mb-50 {
            margin-bottom: 20px;
        }
    }
}